.card {
  cursor: auto;
}

.voucher::after {
  position: absolute;
  content: "";
  height: 40px;
  right: -20px;
  border-radius: 40px;
  z-index: 1;
  top: 130px;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  width: 40px;
}

.voucher::before {
  position: absolute;
  content: "";
  height: 40px;
  left: -20px;
  border-radius: 40px;
  z-index: 1;
  top: 130px;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  width: 40px;
}