.header {
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.groupfix{
  position: relative;
  top: -8px;
}

.logo{
  position: relative;
  top: 4px;
  margin-left: 12px;
}

.user {
  color: var(--mantine-color-black);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;
}

.user:hover {
  background-color: var(--mantine-color-white);
  background-color: var(--mantine-color-gray-0);
}

@media (max-width: 576px) { /* Supondo que $mantine-breakpoint-xs seja 576px */
  .user {
    display: none;
  }
}

.userActive {
  background-color: var(--mantine-color-white);
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 600;
  font-size: var(--mantine-font-size-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(42px);
    width: 100%;
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.shoppingcart{
  -webkit-tap-highlight-color: transparent;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-size: var(--mantine-font-size-md);
    padding: 0;
    text-align: left;
    text-decoration: none;
    touch-action: manipulation;
    color: var(--mantine-color-black);
    padding: var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-sm);
    transition: background-color 100ms ease;
    justify-content: center;
    align-items: center;
    display: flex;
}
.shoppingcart:hover {
  background-color: var(--mantine-color-gray-0);
}